<div class="field field-hidden">
  <label for="{{name}}">{{label}}</label>
  <input {{action "confirm" name on="keyUp"}} type="{{type}}" id="{{name}}" name="{{name}}" autofocus="{{if autofocus "true"}}">
  <span id="{{name}}-icon" class="input-icon"></span>
  <span class="underline"></span>
</div> {{! field }}