<div class="field">
  <label for="{{name}}">{{label}}</label>
  <input type="{{type}}" id="{{name}}" name="{{name}}" disabled>
  <button class="btn-outlined btn-form" {{action "showForm" name}}>Edit</button>
</div> {{! field }}