<div class="field">
  <label for="{{name}}">{{label}}</label>
  <input type="{{type}}" id="{{name}}" name="{{name}}" value="{{value}}" disabled>
  <button class="btn-outlined btn-form" {{action "showForm" name value}}>Edit</button>
  <span id="{{name}}-message" class="field-message field-message-hidden">Changes saved!</span>
</div> {{! field }}