<div class="field field-hidden">
  <label for="{{name}}">{{label}}</label>
  <input type="{{type}}" id="{{name}}" name="{{name}}" autofocus="{{if autofocus "true"}}">
  <span class="input-icon"></span>
  <span class="underline"></span>
</div> {{! field }}