{{ main-bg }}

<main class="relative-padding">
  <h1 class="heading">The Honest Company, Inc.</h1>

  <section class="l-content l-content-relative">
    <div class="company-overview-bg">
      <div class="section-grid main-wrapper">
        <div class="tax-identifier">
          <svg class="svg-bg tax-bg" viewBox="0 0 100 100"><circle cx="50" cy="50" r="50"/></svg>
          <div class="tax-info">
            <h3 class="h-h3">Tax ID</h3>
            <span>xx-xxx<strong>4861</strong></span>
          </div> {{! tax-info }}
        </div> {{! tax-identifier -}}

        <div class="company-info l-text">
          {{info-box class="info-box" highlight="true" label="Doing business as" info="The Honest Company"}}
          {{info-box class="info-box" label="Address" info="12130 Millennium Dr, Los Angeles, CA 90094"}}
          {{info-box class="info-box info-col" label="Phone number" info="(888) 862-8818"}}
          {{info-box isLink="true" link="#" class="info-box info-col" label="Website" info="honest.com"}}
        </div> {{! company-info }}

        <div class="report-updates chart">
          <div class="chart">
            <svg id="report-update-container" class="svg-bg update-bg" viewBox="0 0 100 100"><circle cx="50" cy="50" r="50"/></svg>
            {{ report-update-chart }}
            <div class="chart-info">
              <span class="chart-label chart-text report-update-label">Report updates in</span>
              <span class="chart-number">22</span>
              <span class="chart-text report-update-text">days</span>
            </div> {{! chart-info}}          
          </div> {{! chart}}
        </div> {{! report-updates }}
      </div> {{! wrapper}}
    </div> {{! overview-bg}}
  </section> {{! Company overview section}}

  <section id="risk-section" class="risk-section bg-dark">
    <div class="main-wrapper section-grid l-content">
      <div class="risk-chart">
        <div class="chart" id="risk-score-container">
          {{ risk-score-chart }}
          <div class="chart-info risk-chart-info">
            <span class="chart-number risk-number">84</span>
            <span class="chart-label chart-text risk-text">Low Risk</span>
          </div> {{! risk-chart-info}}
        </div> {{! risk-score-container }}
        <p class="chart-text risk-disclaimer">Higher scores are better</p>
      </div> {{! risk-chart }}
      <h2 class="h-h2 risk-title">Experian Credit Risk Score</h2>
      <div class="risk-info">
        <h3 class="h-h3">Factors lowering this score</h3>
        <ul class="risk-list l-text">
          <li class="bullet-icon">Balance of recently delinquent commercial accounts</li>
          <li class="bullet-icon">Balance of commercial accounts at worst delinquency</li>
          <li class="bullet-icon">Commercial account delinquency in the last 6 months</li>
        </ul>
        {{info-toggle}}
      </div> {{! risk-info }}
    </div> {{! wrapper }}
  </section> {{! risk-scores }}
  <section class="bg-light">
    <div class="risk-subsection main-wrapper">
      <p>This report was generated on <strong>July 17, 2017</strong> and will be updated in <strong>22 days</strong></p>
      <img src="/assets/images/experian.svg" alt="Powered by Experian">
    </div>
  </section>

</main>

{{outlet}}